body
{
    margin: 0 auto;
    background-color: bisque;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
}

/*nav*/
nav
{
    overflow: hidden;
    background-color: #f1f1f1;
}
  
nav a
{
    float: left;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown
{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn
{  
    font-size: 16px;
    border: none;
    outline: none;
    color: #666;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

nav a:hover, .dropdown:hover .dropbtn
{
    color: #f9f9f9;
    background-color: #666;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a
{
    float: none;
    color: #666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #f9f9f9;
}

.dropdown-content a:hover
{
    color: #f9f9f9;
    background-color: #666;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.arrow
{
    border: solid ;
    border-width: 0 2.5px 2.5px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    margin-bottom: 2.5px ;
}


.down
{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*Tableau*/
.tableau
{
    border-collapse: collapse;
}

.tableau ,tr, td, th
{
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
}

